{% extends 'myapp/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}

{#    <h1 style="text-align: center;"><span style="color: #33cccc;"><strong>Welcome to the </strong><span style="color: #000000;"><strong>Challenge </strong></span><strong>&nbsp;game site!</strong></span></h1>#}
{#    <h3 style="text-align: center;"><span style="color: #008080;"><strong>Showcase your expertise in picking winning Stocks</strong></span></h3>#}
{#    <div class="intro">#}
{#        <p>This site is available to anybody that wants to fine tune their stock picking skills, without risking their hard earned tax dollars against the uncertainty of the financial markets. There is no money to be made, and no money to be lost. All you earn is the bragging rights to the notional profit you would have made executing the same trades in the <em>real Stock Market</em>.</p>#}
{#        <p>Register, using the link in the Menu bar, and get started.</p>#}
{#    </div>#}
{#    <h3><span style="color: #33cccc;"><strong>The Rules:</strong></span></h3>#}
{#    <div class="intro">#}
{#        <ol>#}
{#            <li>Registration is free. Credit Card is NOT required</li>#}
{#            <li>Upon registration, your account will have a notional credit of <u>CAD $250,000</u>&nbsp;that you can apply to the stock trades</li>#}
{#            <li>Your portfolio can hold a maximum of 10 securities</li>#}
{#            <li>Trades are filled internally at the mid point between the Bid and Ask quotes for the security being traded. Hence, trades can be executed all day, every day, with no dependency on the Trading hours of the Stock Market.</li>#}
{#            <li>Please note, outside of the regular market hours, the posted Bid and Ask can be unrealistic, adversely impacting the value of your trades.</li>#}
{#            <li>To avoid Portfolio churn, participants are limited to 5 trades in any 10 day interval. This limit is also required to confirm to the maximum number of requests permitted by the Stock Quote API service provider.</li>#}
{#            <li>An exception to the above rule is when the portfolio holds less than 5 securities. In that case, participants are permitted a maximum of 10 trades in any 10 day interval. This exception will allow participants for be fully invested within a few days of registration.</li>#}
{#            <li>Users are assigned 5 Watchlists, to monitor the price movement of Stocks of interest. Each Watchlist can hold a maximum of <b>10</b> symbols.</li>#}
{#            <li>The game site does not automatically process periodic dividend and interest payments. These have to be manually submitted by the participants. Dividend transactions will be audited by Admin. Submitting invalid dividend transactions will disqualify the participant</li>#}
{#            <li>The game site also does not support Corporate Actions, such as stock splits, consolidations, name and symbol change, etc. Participants can request Admin assistance to complete these actions</li>#}
{#        </ol>#}
{##}
{#    </div>#}

{% endblock %}
