{% extends 'myapp/base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="container">
        <h5>
            {% if not form.instance.pk %}
                Create a new Symbol record
            {% else %}
                Update a Symbol
            {% endif %}
        </h5>
{#        <br>#}

        {# This is a minimal template since all the form formatting is done in forms.py using Crispy Forms helpers #}
        {# The line {{ form|crispy }} should be removed for the corm to function correctly #}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% crispy form form.helper %}
{#              {% form %}#}
{#            <img src="{{ form.instance.img.url }}">#}
        </form>
    <br>

        <div class="col-10">
            <img src="{{ Stock.img.url }}">
        </div>

{#        <img src="{{ Stock.img.url }}">#}

    </div>

{% endblock %}